include ./templates/head.pug

body
    include ./templates/header.pug
    h1.not-found Error 404
    h3.not-found Página no encontrada D:
    div.not-found
        img.not-found(src="/assets/svg/logo.svg", alt="Logo de la app")