doctype html
html(lang="es")
    head
        link(rel="shortcut icon", href=`/assets/svg/logo.svg`, type="image/x-icon")
        link(rel="stylesheet", href=`/assets/css/main.css`)
        link(rel="stylesheet", href=`/assets/css/presentacion.css`)
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(charset="utf-8")
        meta(lang="es")
        title STUDY - Bienvenido

    body(style="background: #ffffff;")
        header
            .contenedor-header 
                a.logo(href="/")
                    img(src="/assets/svg/logo.svg", alt="logo de study")
                .contenedor-registro-login
                    a.link-header(href=`/auth/registro`) registrarse
                    a.link-header(href=`/auth/login`) login
        .contenedor-mensaje-header 
            .main-container
                p Study alpha v1.0
        section
            .main-container.presentacion
                h1.titulo-presentacion Refrescá tu mente!
                p.parrafo-presentacion <span>Study</span> es una plataforma para estudiantes que busca ayudarte a ordenar información. Que tomar notas no sea ninguna ciencia...

        section.prueba
            .main-container.presentacion.prueba-container
                p.parrafo-presentacion.mini Te invitamos a hacer una prueba :D
                a(href="/prueba") Demo

        section.caracteristicas 
            .main-container.presentacion
                h2.titulo-presentacion Ni mejor, ni peor. Diferente...

            .main-container
                .contenedor-carta-materia
                    img.img-presentacion(src="/assets/img/guia-carta.png", alt="Muestra que es una carta")
                    img.img-presentacion(src="/assets/img/guia-materia.png", alt="Muestra que es una materia")
                .contenedor-guia-estilos
                    img.img-presentacion(src="/assets/img/guia-cartas.png", alt="Muestra las reglas de estilos en las cartas")


        footer
            .main-container
                hr
                .contenedor-redes
                    a(href="https://www.instagram.com/nahuetomas/?hl=es-la" target="_blank")
                        img(src="/assets/svg/icons/instagram.svg" alt="Logo de instagram")
                    a(href="https://twitter.com/NahueTomas" target="_blank")
                        img(src="/assets/svg/icons/twitter.svg" alt="Logo de twitter")
                    a(href="https://www.linkedin.com/in/nahuetomas/" target="_blank")
                        img(src="/assets/svg/icons/linkedin.svg" alt="Logo de linkedin")
                    a(href="https://github.com/NahueTomas" target="_blank")
                        img(src="/assets/svg/icons/github.svg" alt="Logo de github")
                p.parrafo-footer Made by @nahuetomas