include ./templates/head.pug
include ./templates/header.pug

body
    form.form-eliminar
        h1 Estás segur@?
        h2 Una vez eliminado no hay vuelta a atras
        input(type="hidden" value=`${id}` name="id")
        input#enviar(type="submit" value="Eliminar")

    script(src=`/js/eliminar-${tipo}.js`)