include ./templates/head.pug
include ./templates/header.pug

form.form-eliminar
    h1 Are you sure?
    h2 Una vez eliminado no hay vuelta a atras
    input(type="hidden" value=`${id}` name="id")
    input#enviar(type="submit" value="Eliminar")

script(src=`/js/eliminar-${tipo}.js`)