include ./templates/head.pug

body
    include ./templates/header.pug
    .contenedor-global
        .main-container
            form.formulario-login(method="POST" action="/auth/login")
                h2 Iniciar sesión
                .contenedor-login
                    input(type="text", placeholder="Nombre de usuario" autocomplete="off" name="nombre")
                    input(type="password", placeholder="Contraseña" name="clave")
                    input(type="submit", value="Iniciar sesión")