include ./templates/head.pug
include ./templates/header.pug

.contenedor 
    .contenedor-campo 
        h3.titulo-contenedor Nueva carta
        form.formulario-nuevo(action="/nueva-carta", method="POST")
            input(type="hidden", name="contenedor", value=`${id}`)
            input.titulo-carta-form(type="text", name="titulo" placeholder="Título:" autocomplete="off" required)
            input.link-carta-form(style="color: var(--celeste);",type="text", name="link", placeholder="www.wikipedia.org" autocomplete="off")
            textarea.contenido-carta-form(name="contenido" placeholder="Contenido:" autocomplete="off" required)
            .caja-inferior
                select#seleccionador-color(name="color" required)
                    option(selected value="CCFFFC") Color
                    each color, index in colores
                        option(value=`${color}` name="color")= `Color ${index + 1}`
                input(type="submit" value="Crear")

script(src="/js/nueva-carta.js")