header
    .contenedor-header 
        a(href="/")
            img(src="/assets/svg/logo.svg", alt="logo de study")
        a(href=`/${complemento1}`)= complemento2
    .contenedor-error
        p.error= error