doctype html
html(lang="es")
    head
        link(rel="shortcut icon", href=`/assets/svg/logo.svg`, type="image/x-icon")
        link(rel="stylesheet", href=`/assets/css/main.css`)
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(charset="utf-8")
        meta(lang="es")
        title= pagina