.btn-mas{
    border-radius: 15px;
    background: var(--blanco);
    position: fixed;
    padding: .2rem 1.3rem;
    bottom: 30px;
    right: 30px;
    border: none;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    font-weight: bolder;
    font-size: 1.3rem;
    color: var(--azul-medio);
    text-decoration: none;
    z-index: 999;
}

.btn-opciones{
    height: 2rem;
    position: absolute;
    top: 10px;
    right: 20px;
}

.btn-opciones:hover{
    cursor: pointer;
}

.btn-carta{
    height: 100%;
}

.btn-carta img{
    height: 100%;
}

a.btn-atras-materia{
    bottom: 30px;
    left: 30px;
    border-radius: 15px;
    background: var(--blanco);
    position: fixed;
    padding: .2rem 1.3rem;
    border: none;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    font-weight: bolder;
    font-size: 1.3rem;
    color: var(--azul-medio);
    text-decoration: none;
    z-index: 999;
}