.btn-mas{
    border-radius: 15px;
    background: var(--blanco);
    position: fixed;
    padding: .2rem 1.3rem;
    bottom: 30px;
    right: 30px;
    border: none;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    font-weight: bolder;
    font-size: 1.3rem;
    color: var(--azul-medio);
    text-decoration: none;
}

.btn-opciones{
    width: .5rem;
    position: absolute;
    top: 10px;
    right: 20px;
}

.btn-equis{
    display: inline-block;
    margin-right: .8rem;
}

.btn-equis img{
    width: 1rem;
}

.btn-editar img{
    width: 1rem;
}