.contenedor-centrador{
    height: 100%;
    padding: 1rem;
}

.contenedor-carta-vista{
    max-width: 500px;
    width: 100%;
    margin: auto;
    border-radius: 5px;
    padding: 1rem;
    position: relative;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.150);
}

.titulo-carta-vista{
    font-size: 2rem;
    margin: 0rem;
    margin-top: 1rem;
    text-align: center;
    color: rgba(0, 0, 0, 0.850);
}

.contenedor-contenido-vista{
    margin: 2rem 0rem;
}

.contenedor-contenido-vista hr{
    background-color: rgba(0, 0, 0, 0.150);
    border: none;
    height: 1px;
}

.contenedor-contenido-vista li{
    color: rgba(0, 0, 0, 0.600);
    font-size: .95rem;
    margin: .4rem 0rem;
    list-style: circle;
}

.contenedor-contenido-vista h3{
    font-size: 1.2rem;
    margin: .4rem 0rem;
    text-decoration: underline;
    color: rgba(0, 0, 0, 0.800);
}

p.contenido-carta-vista{
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.700);
    margin: .5rem 0rem;
    font-style: italic;
}

a.link-carta-vista{
    color: var(--celeste);
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-style: italic;
}

.contenedor-opciones-carta{
    display: flex;
    width: 80px;
    justify-content: space-between;
    align-items: center;
}