header{
    background: var(--azul-medio);
    position: sticky;
    top: 0;
    padding: .5rem;
}

.contenedor-header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 500px;
    margin: auto;
}

.contenedor-error{
    margin-top: .3rem;
    background-color: var(--azul-claro);
    width: 100%;
}

.contenedor-error p{
    font-size: .8rem;
    color: var(--gris-claro);
    margin: .3rem 0;
}

header a{
    color: var(--blanco);
    font-size: .8rem;
}

header img{
    width: 2.5rem;
}