header{
    background: var(--azul-medio);
    position: sticky;
    top: 0;
    padding: .3rem .5rem;
}

.contenedor-header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 500px;
    margin: auto;
}

.contenedor-header a.logo{
    display: flex;
    align-items: center;
}

header a.link-header{
    color: var(--gris-claro);
    font-size: .8rem;
    text-decoration: none;
    border: 1px solid var(--gris-oscuro);
    padding: .2rem 1rem;
    border-radius: 20px;    
}

header a.link-header:hover{
    transition: 1s all;
    background: var(--celeste);
    color: var(--blanco);
    border: 1px solid var(--celeste);
}

header img{
    width: 3rem;
}