header{
    background: var(--azul-medio);
    height: 4rem;
    position: sticky;
    top: 0;
}

.contenedor-header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

header h1{
    margin: 0px;
    color: var(--blanco);
    font-size: 1rem;
    border-bottom: 1px solid var(--blanco);
}

header a{
    padding: .5rem;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    text-decoration: none;
    width: 100%;
}

header img{
    width: 3rem;
    margin-right: 1rem;
}