@import url('https://fonts.googleapis.com/css2?family=Cantarell:wght@400;700&display=swap');
@import url('./login.css');
@import url('./header.css');
@import url('./materias.css');
@import url('./btn.css');
@import url('./materia.css');
@import url('./carta.css');
@import url('./materia-form.css');
@import url('./carta-form.css');
@import url('./eliminar.css');

:root{
    --rojo: #f24d4d;
    --amarillo: rgba(240, 220, 109, 0.781);

    --azul: #334257;
    --azul-oscuro: #1E2228;
    --azul-medio: #2D333B;
    --azul-claro: #353C44;
    
    --celeste: #498DED;

    --gris-oscuro: #5B6570;
    --gris-claro: #ffffffbb;
    
    --blanco: #f2f2f2;

    --negro: #000;
    --negro-medio: rgba(0,0,0, 0.750);
    --negro-alpha: rgba(0,0,0, 0.200);
}

*{
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Cantarell', sans-serif;    
}

body, html{
    padding: 0;
    margin: 0;
    width: 100%;
    min-height: 100%;
    position: relative;
}

body{
    background: var(--azul-oscuro);
    padding-bottom: .5rem;
}

.error{
    text-align: center;
}

.advertencia{
    color: var(--gris-claro);
    display: block;
    font-size: .8rem;
    text-align: center;
    margin: .5rem;
}

.main-container{
    width: 100%;
    max-width: 900px;
    margin: auto;
}

h1.not-found{
    font-size: 3rem;
    text-align: center;
    font-weight: bolder;
    margin-bottom: 0rem;
    color: var(--blanco);
}

h3.not-found{
    text-align: center;
    font-weight: lighter;
    font-style: italic;
    color: var(--gris-claro);
    margin-top: .3rem;
}

div.not-found{
    max-width: 500px;
    margin: auto
}

img.not-found{
    width: 5rem;
    margin: 2rem auto;
    display: block;
}

body::-webkit-scrollbar{
    display: none;
}