.contenedor-header-materia{
    color: var(--blanco);
    width: 96%;
    border-radius: 0px 0px 15px 0px;
    padding: 1rem;
}
.contenedor-header-materia h1{
    font-size: 2rem;
    margin: 0;
    padding: .5rem 0rem;
    margin-bottom: 1rem;
}

.contenedor-header-info{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--blanco);
}

.contenedor-header-materia .item{
    display: flex;
}

.contenedor-indide{
    width: 100%;
}

.titulo-contenedor{
    color: var(--blanco);
    font-weight: lighter;
    margin-bottom: .2rem;
}

.contenedor-temas{
    background-color: var(--azul-medio);
    color: var(--gris-oscuro);
    border-radius: 10px;
    margin-top: 0rem;
    margin-bottom: 2rem;
    list-style-type: none;
    padding: 0rem;
    padding: 1rem 1rem;
    border: 1px solid var(--azul-claro);
}

.contenedor-temas .tema{
    text-decoration: none;
    color: var(--gris-oscuro);
    font-size: .9rem;
    display: block;
    margin: .2rem 0rem;
}

.contenedor-desplazable{
    border-left: none;
    border-right: none;
    border-radius: 0px;
    overflow: auto;
}

.carta{
    width: 140px;
    height: 250px;
    text-decoration: none;
    text-align: center;
    padding: .3rem 1rem;
    margin: .5rem;
    display: inline-block;
    border-radius: 5px;
    box-shadow: 3px 3px 10px #00000050;
}

.scroll{
    display: flex;
    align-items: center;
}

.carta h4{
    color: var(--azul-claro);
    font-weight: bolder;
}