.contenedor-mensaje-header{
    background-color: #64707B;
    color: var(--blanco);
    padding: 2px 10px;
}

.contenedor-mensaje-header p{
    font-size: 10px;
    margin: 0px;
}

h1.titulo-presentacion{
    text-align: start;
    font-size: 28px;
    line-height: 45px;
    color: var(--azul-oscuro);
    margin: 0px 0px 25px 0px;
}

.presentacion{
    padding: 0px 10px;
}

.parrafo-presentacion{
    font-size: 14px;
    margin: 20px 0px;
    max-width: 450px;
}

.parrafo-presentacion span{
    font-weight: bolder;
    color: var(--gris-oscuro);
}

.mini{
    font-size: 12px;
    font-weight: bolder;
    text-align: center;
}

.prueba-container{
    max-width: 450px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px #EAEAEA;
    border: 1px solid #EAEAEA;
}

section.prueba p{
    margin: 15px;
    text-align: center;
}

section.prueba a{
    display: block;
    width: 100px;
    text-align: center;
    text-decoration: none;
    color: var(--blanco);
    border: 1px solid var(--blanco);
    border-radius: 20px;
    background: var(--celeste);
    padding: 5px 10px;
    margin: 20px auto;
}

section.prueba a:hover{
    transition: background-color .5s, color .2s, border .2s;
    color: var(--celeste);
    border: 1px solid var(--celeste);
    background-color: var(--blanco);
}

section.prueba{
    padding: 10px;
}

.img-presentacion{
    width: 100%;
    display: block;
    margin: 10px 0px;
}

h2.titulo-presentacion{
    text-align: center;
    font-size: 20px;
    color: var(--celeste);
    margin: 0px 0px 50px 0px;
}

section{
    margin: 50px auto;
}

footer{
    background-color: var(--azul-oscuro);
    padding: 10px;
    margin: 0px;
}

footer .parrafo-footer{
    color: var(--blanco);
    font-size: 12px;
    text-align: end;
}

footer .contenedor-redes{
    margin: 40px 0px;
    display: flex;
    justify-content: space-evenly;
}

footer a{
    display: inline-block;
}

footer a img{
    width: 40px;
}

body{
    padding: 0px;
}

@media screen and (min-width: 700px) {
    h1.titulo-presentacion{
        font-size: 40px;
        text-align: center;
        margin-bottom: 40px;
    }

    .parrafo-presentacion{
        font-size: 18px;
        max-width: 700px;
        text-align: center;
        margin: auto;
    }

    .mini{
        font-size: 14px;
    }

    section{
        margin: 70px auto;
    }

    .contenedor-carta-materia{
        display: flex;
        width: 100%;
        align-items: stretch;
    }

    .contenedor-carta-materia img{
        width: 50%;
    }

    h2.titulo-presentacion{
        font-size: 25px;
    }
}